
:root
{
  --color-background: black;
}
body {
   
    background-color:var(--color-background);
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}
#main {
    display:flex;
    flex-direction: column;
}
h1 {
    justify-content: center;
    text-align: center;
    margin: auto;
  /*  background-color: blue; */
}
  #title {
   justify-content: center;
   text-align: center;
 }


#img-div {
  margin: auto;
  padding: 0;
/*background-color: aqua; */

 width: 25%;
 height: 50%; 
justify-content: center;
text-align: center;
}
#image { 
  display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0, 0, 0 ,0;
    padding: 0,0,0,0;
}
#tribute-info
{
list-style-type: none;
text-align: center;
margin-top: 50px;
}
li {
  margin-top: 30px;
}
p {
  text-align: center;
}
#tribute-link {
  text-align: center;
  text-decoration: none;
  color: ivory;
}

#tribute-link:hover 
  {color: gray;
  transform: translate(5px)
}